name: "Lint"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

env:
  DEFAULT_PYTHON: "3.13"

jobs:
  tests:
    runs-on: "ubuntu-latest"
    name: Lint
    steps:
      - name: Check out code from GitHub
        uses: "actions/checkout@v6.0.0"
      - name: Setup Python ${{ env.DEFAULT_PYTHON }}
        uses: "actions/setup-python@v6.1.0"
        with:
          python-version: ${{ env.DEFAULT_PYTHON }}
      - name: Install requirements
        run: |
          pip install pip
          pip install .[dev,test]
      - name: "Lint"
        run: python3 -m ruff check .
      - name: "Format"
        run: python3 -m ruff format . --check